@import "../../global.scss";

.testimonials {
  background-color: black;
  display: flex;
  padding: 3em;
  flex-wrap: wrap;
  margin: 1rem;
  flex-direction: row;

  .head {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
    font-family: "Poppins", sans-serif;
    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgb(65, 201, 255);
      margin: 4px 10px;
    }
  }

    .card {
      width: 450px;
      height: 350px;
      background-color: #aaa;
      border-radius: 10px;
      border: 0.5px solid rgb(44, 44, 44);
      overflow: hidden;
      flex-wrap: wrap;
      display: flex;

      .info {
        display: flex;
        width: max-content;
        align-self: flex-end;
        height: min-content;
        padding: 1em;
        flex-direction: column;
        background-color: black;
        overflow: hidden;

        h2 {
          display: flex;
          flex-direction: column;
          color: white;
          font-size: 1.5rem;
          margin-top: auto;
          
      @include mobile {
        font-size: 0.5rem;
      }
        }
        p{
          display: flex;
          color: white;
          flex-wrap: wrap;
          overflow: hidden;
          font-size: 1rem;
          
      @include mobile {
        font-size: 0.5rem;
      }
        }
        
        .logo {
          display: flex;
          flex-direction: row;
          overflow: hidden;
          flex-wrap: wrap;
        }
        .logy {
          display: flex;
          margin-left: auto;
          color: aqua;
          gap: 10px;
          overflow: hidden;
          flex-wrap: wrap;
        }
      }

      .side {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
        color: white;
        
        .ins {
          display: flex;
          background-color: rgb(77, 76, 76);
          overflow: hidden;
          flex-wrap: wrap;
          border-radius: 7px;
          gap: 5px;
          padding: 0.2em;
          font-size: 1rem;
          align-items: center;

        }
      }
    }
  
}
