.app{
    height: 100vh;

    .sections{
        width: 100%;
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}